@model IEnumerable<ShoppingCart_MVC.Models.Item>

<div class="cart-container">
    <h1>Shopping Cart</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><img src="@item.ImageUrl" alt="@item.Name" class="product-image" /></td>
                    <td class="item-name">@item.Name</td>
                    <td class="item-price">@item.Price.ToString("C")</td>
                    <td>
                        <form method="post" asp-action="AddToCart" asp-route-id="@item.Id">
                            <button type="submit" class="btn btn-primary">Add To Cart</button>
                            <select name="quantity" class="form-select">
                                @for (int i = 1; i <= 10; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </form>
                    </td>                   
                </tr>
            }

        </tbody>
    </table>
    <div class="text-end mt-4">
        <a asp-controller="Home" asp-action="ViewCart"class="btn btn-primary btn-lg">View Cart</a>
    </div>
</div>